*{
	border: 1px solid rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
	font-size: 16px;
	font-family: 'Open Sans';
}

#name {
	font-size: 50px;
	font-family: 'Open Sans';
	text-shadow: 2px 2px 2px black;
	letter-spacing: 3px;
	word-spacing: 5px;
	color: 	#699bce;
}

#date {
	text-align: center;
	font-size: 10px;
}

.sections {
	font-size: 32px;
}

.Home{
	background: url("file:///home/laura/website/seniorpicbw.jpg") no-repeat center center;
	background-size: cover;
	background-attachment: scroll;
	max-width: 100%;
	color: white;
}

h1 {
	font-size: 32px;
	width: 100%;
	text-align: center;
	letter-spacing:1px;
}

.options {
	width: 100%;
	text-align: center;
}

.options .dropdown{
	display: inline-block;
	padding: 10px 50px;
}

.droptitle {
	background-color: #ABCDEF;
	color: black;
	padding: 16px;
	font-size: 16px;
	border: 2px solid rgba(169, 169, 169, 0.2);
	box-shadow: 2px 2px 5px #888888;
	cursor: pointer;
	border-radius: 5px;
}

.dropdown {
	display: inline-block;
	position: relative;
}

.content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	width: 60%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1000;
}

.content a {
	color: black;
	padding: 12px 16px;
	display: block;
	text-align: left;
}

.content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .content {
	display: block;
}

.dropdown:hover .droptitle {
	background-color: #849fba;
}

.shadowed-content {
	text-align: justify;
	text-justify: inter-word;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	max-width: 75%;
	margin: auto;
}

.proj-pic {
	width: 50%;
	max-height: 250px;
	max-width: 250px;
	display: inline-block;
	float: right;
	margin-right: 50px;
}

.ca {
	width: 20%;
	display: inline-block;
	max-height: 266px;
	max-width: 150px;
	float: right;
}

.description {
	display: inline-block;
	width: 50%;
	margin: 0px 0px 50px 0px;
}

#mb {
	display: inline-block;
	width: 45%;
	max-height: 250px;
	max-width: 350px;
	float: right;

}

#projects h3 {
	width: 50%;
	display: inline-block;
}
