*{
/*	border: 1px solid rgba(0, 0, 0, 0.3);*/
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Open Sans';
}

#name {
	font-size: 50px;
	letter-spacing: 3px;
	word-spacing: 5px;
	color: black;
}

#date {
	text-align: center;
	font-size: 10px;
}

body p {
	margin-bottom: 20px;
}

.sections {
	font-size: 32px;
}

.Home{
	max-width: 100%;
	color: black;
}

.pic {
	width: 40%;
	max-width: 400px;
	display: block;
	margin: 10px auto;
}

.contact-info {
	display: block;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
}

.contact-info a {
	color: #0000EE;
}

h1 {
	font-size: 32px;
	width: 100%;
	text-align: center;
	letter-spacing:1px;
	margin-bottom: 10px;
}


.proj-pic {
	max-height: 250px;
	max-width: 250px;
	display: inline-block;
	float: right;
	shape-outside: content-box;
	-webkit-clip-path: content-box;
}

.honors-pic {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.ca {
	display: inline-block;
	max-height: 220px;
	max-width: 125px;
	float: right;
	shape-outside: content-box;
	-webkit-clip-path: content-box;
}

.main-body {
	margin-top: 10px;
	margin-bottom: 20px;
}

.description {
	margin: 0px 30px 110px 30px;
}

.description p {
	line-height: 1.5em;
}

#mb {
	display: inline-block;
	max-height: 250px;
	max-width: 250px;
	float: right;
	shape-outside: content-box;
	-webkit-clip-path: content-box;
}

.page-body h1 {
	margin-top: 20px;
	margin-bottom: 40px;
}

.page-body h3 {
	font-size: 20px;
}

.bod {
	padding: 10px 30px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.bod h3 {
	margin-bottom: 10px;
}

#coop-title {
	margin-bottom: 30px;
}

.article-pic {
	width: 400px;
	max-width: 50%;
	float: right;
	shape-outside: content-box;
	margin-top: 40px;
}

.coop-body {
	line-height: 1.5em;
}

.pdf {
	max-width: 100%;
}

.options {
	width: 100%;
	text-align: center;
	background-color: rgba(170,170,170,0.2);
}

.options .dropdown{
	display: inline-block;
	padding: 10px 50px;
}

.drop1 li, .drop2 li {
	list-style-type: none;
	text-decoration: none;
	display: block;
}

.menuoptions a {
	color: red;
	text-align: left;
	margin-left: 0px;
}

.droptitle {
	background-color: #FC4A6A;
	color: black;
	padding: 16px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
	min-height: 50px;
}

.dropdown {
	display: inline-block;
	position: relative;
}

.drop2 {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	width: 70%;
	z-index: 1000;
}

.drop1 {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	width: 70%;
	z-index: 1000;
}

.drop1 a, .drop2 a {
	color: black;
	padding: 12px 0;
	margin: 0;
	display: block;
	text-align: left;
	text-decoration: none;
}

.drop1 a:hover, .drop2 a:hover {
	background-color: #ededed;
}

.dropdown:hover .drop1 {
	display: block;
}

.dropdown:hover .droptitle {
	background-color: #849fba;
}

.shadowed-content {
	text-align: justify;
	text-justify: inter-word;
	max-width: 75%;
	margin: auto;
}

#menu-icon {
	display: none;
	width: 40px;
	height: 40px;
	background: url(./menuicon.png) center;
}

button:hover#menu-icon {
	background-color: #aaa;
	border-radius: 0;
}

.nav {
	display: inline-block;
	float: right;
	width: 50%;
}

.nav .topic {
	text-align:left;
}

@media only screen and (max-width:650px) {

.droptitle {
	display: none;
}

.drop2 ul, li {
	display: block;
}

.menuoptions li {
	margin: 10px 0 0 30px;
}

.options {
	background-color: white;
}

#menu-icon {
	display: inline-block;
	float: right;
	margin: 20px 20px 0 0;
	border: 0;
}

.nav:hover .drop2 {
	display: block;
	float:left;
	width: 50%;
	margin: 15px 15px 0 0;
}
}
